In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import psycopg2
import mysql.connector
from mysql.connector import Error

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:postgres@localhost:5432/Homework")
connection = engine.connect()

In [ ]:
salaries = pd.read_sql('select * from salaries', connection)
salaries.head()

In [ ]:
salaries['salary'].min()

In [ ]:
salaries['salary'].max()

In [ ]:
employees = pd.read_sql('select * from employees', connection)
employees.head()

In [ ]:
titles = pd.read_sql('select * from titles', connection)
titles.head()

In [ ]:
salaries.hist(column='salary')

In [ ]:
employee_salaries = employees.merge(salaries, on='emp_no')
employee_salaries.head()

In [ ]:
final_db = employee_salaries.merge(titles, left_on= "emp_title_id", right_on="title_id")
final_db

In [ ]:
sal_title_db = final_db[['salary','title']]
sal_title_db

In [ ]:
sal_title_db.count()

In [ ]:
employees_by_title = sal_title_db.groupby('title')['salary'].mean().round(2)

In [ ]:
employees_by_title.plot.bar()